@import url(https://fonts.googleapis.com/css2?family=Alatsi&family=Nunito&display=swap);

/* Box Model Control */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Font Properties */

body {
    font-family: Nunito, sans-serif;
}

h2 {
    font-size: 1.5rem;
}

/* Colour Variables */

:root {
    --darkwood: #7a5b31;
    --lightwood: #f2e7b9;
    --yellow: #f5d93d;
}

/* Header */

.logo {
    font: 5vw Alatsi, Helvetica, sans-serif;
    margin: 2% 0; 
    text-align: center;
    text-shadow: 0.05ex 0.05ex white, 0.2ex 0.2ex var(--yellow);
    text-transform: uppercase;
}

.logo a {
    color: black;
    text-decoration: none;
}

.flex-container * {
    align-items: center;
    background: black;
    color: white;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    text-decoration: none;
    text-transform: uppercase;
}

nav a {
    padding: 10%;
}

.current-page {
    background: var(--yellow);
    border-radius: 25px;
    color: black;
    font-weight: 600;
}

/* Hero Image */

.hero-container {
    background: url(../images/hero-image.png) no-repeat center;
    background-size: cover;
    height: 50vh;
    position: relative;
}

.hero-overlay {
    background: black;
    border: 0.5em ridge var(--lightwood);
    color: white;
    display: inline-block;
    margin: 0.5em;
    padding: 0.5em;
    position: absolute;
    right: 5%;
    bottom: 5%;
    transition: 250ms ease-in-out;
}

.hero-overlay:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.6);
    transform: scale(1.3);
    transition: 250ms ease-in-out;
}

/* About Us */

.page-blurb {
    background: var(--lightwood);
    padding: 1em;
}

/* Footer */

.footer {
    align-items: center; 
    background: black;
    color: white;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    text-align: center;
}

.footer table {
    padding: 1em 0.5em;
}

.footer i {
    color: white;
    font-size: 3em;
    padding: 0.25em;
    text-decoration: none;
}

.map-button {
    background: white;
    border-radius: 40px;
    margin: auto 0.5em;
    padding: 1em;
}

.map-button a {
    color: black;
    font-weight: 600;
    padding: 1em;
    text-decoration: none;
}

.return-top {
    padding: 1em;
    text-align: end;
}

.return-top a {
    color: white;
    text-decoration: none;
}

.return-top i {
    color: var(--yellow);
    vertical-align: middle;
}

/* Menu Page */

.menu-flex-container {
    align-items: center;
    background: var(--yellow);
    display: flex;
    flex: 1 1 100%;
    flex-flow: row wrap;
    justify-content: center;
}

.menu-chalkboard {
    background: black;
    border: 0.5em ridge var(--lightwood);
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.6);
    color: white;
    margin: 0.5em;
    padding: 0.5em;
}

.menu-chalkboard td {
    padding: 0.5em;
}

.menu-specials {
    list-style: disc inside;
    text-align: center;
}

.menu-specials h3,
li {
    padding: 0.5em;
}

.menu-specials em {
    color: gold;
}

.menu-chalkboard td:nth-last-child(1) {
    text-align: end;
}

/* Gallery Page */

.gallery-container {
    background: var(--yellow);
    display: grid;
    grid-gap: 0.5em;
    grid-template-columns: 1fr 1fr;
    padding: 0.5em;
}

.gallery-container > div {
    align-items: center;
    display: flex;
}

.gallery-container > div > img {
    width: 100%;
}

.gallery-container > div:nth-child(17) {
    grid-column: 1 / span 2;
}

/* Order Form Page */

.form-container {
    background: rgba(0, 0, 0, 0.7) url(../images/cafeperspective.jpeg) no-repeat;
    background-blend-mode: overlay;
    background-size: cover;
    color: white;
}

.menu-chalkboard th {
    padding: 1em;
}

form {
    padding: 0.5em;
}

label {
    margin: 0.5em;
}

fieldset {
    margin: 1em 1em 2em 1em;
    padding: 0.5em;
}

textarea {
    padding: 0.5em;
    width: 100%;
}

input[type="datetime-local"],
[type="email"],
[type="tel"],
[type="text"] {
    font-family: Nunito, sans-serif;
    padding: 0.5em;
    width: 100%;
}

input[type="datetime-local"],
::placeholder {
    font: 1.2em Nunito, sans-serif;
}

input[type="submit"] {
    background: var(--yellow);
    border: 0;
    border-radius: 50px;
    color: black;
    cursor: pointer;
    font-size: 1.2em;
    font-weight: inherit;
    margin: auto;
    padding: 1.5em;
    width: 100%;
}

/* Thank You Page */

.thankyou-image {
    background: rgba(0, 0, 0, 0.6) url(../images/foodprep.webp) no-repeat center;
    background-blend-mode: overlay;
    background-size: cover;
    height: 90vh;
    width: 100%;
}

/* 404 Page */

.background-404 {
    background: rgba(0, 0, 0, 0.6) url(../images/sunflowerbee.webp) no-repeat;
    background-blend-mode: overlay;
    background-size: cover;
    height: 80vh;
    position: relative;
}

.content-404 {
    border: 2px solid white;
    border-radius: 25px;
    color: white;
    display: flex;
    flex-flow: column wrap;
    padding: 1em;
    position: absolute;
    top: 1em;
    right: 1em;
    left: 1em;
    text-align: center;
}

.home-icon-404 {
    color: white;
    font-size: 3em;
}

/* Viewability */

.dark-bg-divider {
    border-bottom: 2px solid white;
}

/* Media Queries */

/* Tablet Resolutions */

@media screen and (min-width: 768px) {

    /* Gallery Interactivity */

    .gallery-container {
        grid-gap: 2em;
        padding: 2.5em;
    }

    img {
        transition: 333ms ease-in-out;
    }

    img:target {
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.6);
        transform: scale(1.2);
        transition: 333ms ease-in-out;
    }
}

/* Desktop Resolutions */

@media screen and (min-width: 1024px) {

    /* Header & Navigation */

    header {
        align-items: center;
        display: grid;
        grid-template-columns: 2% 50% 1fr 2%;
    }

    .logo {
        font-size: 3vw;
        grid-column: 2 / 3;
    }

    .flex-container {
        background: unset;
        grid-column: 3 / 4;
    }

    .flex-container * {
        background-color: unset;
    }

    .flex-container li > a {
        background-color: var(--yellow);
        border: 3px dashed black;
        color: black;
        font-size: 1.1em;
        font-weight: 700;
        padding: 0.3em;
    }

    .current-page {
        border-radius: unset;
    }

    .flex-container li > a:hover {
        background-color: orange;
    }

    .desktop-current-page {
        border-bottom: 5px solid black;
        border-radius: 10px;
    }

    /* Text Formatting */

    body {
        font-size: 1.2rem;
        font-weight: 600;
    }

    .page-blurb {
        border: 0.25em ridge var(--darkwood);
        padding: 3% 15%;
        text-align: center;
    }

    /* Hero Image */

    .hero-container {
        height: 60vh;
    }

    /* Desktop Footer */

    .footer i {
        font-size: 2em;
    }

    .map-button {
        padding: 0.5em;
    }

    /* Desktop Footer User Feedback */

    footer i:hover {
        color: orange;
    }

    .map-button:hover {
        background: orange;
    }

    .return-top:hover {
        color: orange;
    }

    /* Desktop Gallery Page */

    .gallery-container {
        grid-gap: 2em;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        padding: 2em 5em;
    }

    .gallery-container > div:nth-child(3) {
        grid-column: 3 / span 2;
    }

    .gallery-container > div:nth-child(4) {
        grid-column: 1 / span 2;
    }

    .gallery-container > div:nth-child(17) {
        grid-column: 3 / span 2;
    }

    img {
        border: .5em ridge var(--lightwood);
        transition: 333ms ease-in-out;
    }

    img:hover {
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.6);
        transform: scale(1.2);
        transition: 333ms ease-in-out;
    }

    /* Desktop Form Page */

    .form-container {
        display: flex;
        justify-content: center;
        text-align: center;
    }

    form {
        background: rgba(255, 255, 255, 0.7);
        color: black;
        margin: 2em;
        width: 60vw;
    }

    input[type="datetime-local"],
    [type="email"],
    [type="tel"],
    [type="text"] {
        width: 40%;
    }

    input[type="submit"] {
        border: 1px solid black;
        font-family: inherit;
        padding: 1em;
        width: 50%;
    }

    input[type="submit"]:hover {
        background: orange;
    }
}