@import url('https://fonts.googleapis.com/css2?family=Alatsi&family=Nunito&display=swap');

/* Box Model Control */

* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

/* Font Properties */

body {
    font-family: 'Nunito', sans-serif;
}

body h2 {
    font-size: 1.5rem;
}

body p {
    font-size: 1rem;
}

/* Colour Variables */

:root {
    --black: rgb(39, 38, 38);
    --yellow: rgb(254, 228, 2);
    --blue: rgb(130, 213, 241);
}

/* Header */

#mainheader {
    font-family: Alatsi, Helvetica, sans-serif;
    text-transform: uppercase;
    text-align: center;
    text-shadow: .05ex .05ex white, .2ex .2ex var(--yellow);
    font-size: 5vw;
}

.flex-container * {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--black);
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}

nav a {
    padding: 10%;
}

.current-page {
    background: var(--yellow);
    border-radius: 25px;
    color: black;
}

/* Hero Image */

#hero-outer {
    height: 50vh;
    background: url('../images/hero-image.png') no-repeat center;
    background-size: cover;
    position: relative;
}

.hero-overlay {
    background: black;
    color: white;
    display: inline-block;
    position: absolute;
    right: 5%;
    bottom: 5%;
    padding: .5em;
    border: .5em ridge burlywood;
    margin: .5em;
    padding: .5em;
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.6);
}

/* About Us */

.page-blurb {
    background: blanchedalmond;
    padding: 1em;
}

/* Footer */

.footer { 
    background: var(--black);
    color: white;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    text-align: center;
}

.footer table {
    padding: 1em .5em;
}

.footer i {
    font-size: 3em;
    padding: .25em;
    text-decoration: none;
    color: white;
}

.map-button {
    background: var(--blue);
    border-radius: 25px;
    padding: 1em;
    margin: auto .5em;
}

.map-button a {
    color: black;
    text-decoration: none;
    padding: 1em;
}

.return-top {
    width: 100%;
    text-align: end;
    padding: 1em;
}

.return-top a {
    text-decoration: none;
    color: var(--yellow)
}

.return-top i {
    color: var(--yellow)
}

/* Menu */

.menu-flex-container {
    display: flex;
    flex-flow: row wrap;
    flex: 1 1 100%;
    justify-content: center;
    background-color: var(--yellow);
    align-items: center;
}

.menu-chalkboard {
    background: black;
    color: white;
    border: .5em ridge burlywood;
    margin: .5em;
    padding: .5em;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.6);
}

.menu-chalkboard td {
    padding: .5em;
}

.menu-specials {
    list-style: disc inside;
    text-align: center;
}

.menu-specials h3,
li {
    padding: .5em;
}

.menu-specials em {
    color: gold;
}

.menu-chalkboard td:nth-last-child(1) {
    text-align: end;
}

/* Gallery */

#gallery-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: .5em;
    padding: .5em;
    background: var(--yellow)
}

#gallery-wrapper img {
    width: 100%;
    border: 1px solid black;
    border-radius: 5px;
}

/* Order Form */

.form-container {
    background: rgba(0, 0, 0, .7)url(../images/cafeperspective.jpeg) no-repeat;
    background-blend-mode: overlay;
    background-size: cover;
    color: white;
}

form {
    padding: .5em;
}

fieldset {
    margin: 1em;
    padding: .5em;
}

textarea {
    width: 100%;
}

input[type="submit"] {
    width: 100%;
    background: var(--yellow);
    border: 0;
    padding: 1.5em;
    border-radius: 50px;
    font-family: inherit;
    font-size: 1.2em;
    margin: auto;
    cursor: pointer;
}

/* Thank You Page */

.thankyou-image {
    background: rgba(0, 0, 0, .6) url(../images/foodprep.webp) no-repeat center;
    background-size: cover;
    background-blend-mode: overlay;
    width: 100%;
    height: 90vh;
}

/* 404 Page */

.background-404 {
    background: rgba(0, 0, 0, .6) url(../images/sunflowerbee.webp) no-repeat;
    background-blend-mode: overlay;
    background-size: cover;
    height: 80vh;
    position: relative;
}

.content-404 {
    color: white;
    border: 2px solid white;
    border-radius: 25px;
    padding: 1em;
    text-align: center;
    display: flex;
    flex-flow: column wrap;
    display: inline-block;
    position: absolute;
    top: 1em;
    left: 1em;
    right: 1em;
}

.home-icon-404 {
    color: white;
    font-size: 3em;
}