@import url('https://fonts.googleapis.com/css2?family=Alatsi&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

/* Header */

#mainheader {
    font-family: Alatsi, Helvetica, sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-size: 18px;
    text-shadow: 1px 1px white, 2px 2px yellow;
}

#mainheader img {
    height: 1em;
    vertical-align: top;
    padding: 2px 2px 0 0;
}